.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20%, 605;
}

img {
    width: 70%;
    display: inline-block;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20%;
}

.column-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.column-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.column-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.indent {
    height: 100px;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    margin: 0 auto;
}

.secondary-header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Poppins', sans-serif;
}

h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: 'PT Serif', serif;
}