.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    width: 70%;
    display: inline-block;
}

.offset {
    height: 100px;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: inline-block;
    position: absolute;
}

.secondary-header {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'PT Serif', serif;
}

figure {
    width: 120px;
    margin: 0 auto;
}

footer {
    color: gray;
    text-align: center;
}

@media (min-width:768px) {
    figure {
        width: 300px;
        margin: 0 auto;
    }
    
}